td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.roboFont {
  font-family: 'Economica', sans-serif;
}


ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul.wpp-list, ol.wpp-list {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}



.wpp-list {
}

/* LI - Post container styles */
.wpp-list li {
  overflow:hidden;
  float:none;
  clear:both;
}

ul.wpp-list, ol.wpp-list {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

/* Styles for the popular post in view */
.wpp-list li.current {
}

/* Thumbnail styles */
.wpp-thumbnail {
  display:inline;
  float:left;
  margin:0 5px 0 0;
  border:none;
}

/* Title styles */
.wpp-post-title {
}

/* Excerpt styles */
.wpp-excerpt {
}

/* Stats tag styles */
.post-stats {
  display:block;
  font-size:9px;
  font-weight:bold;
}

/* Comments count styles */
.wpp-comments {
}

/* Views count styles */
.wpp-views {
}

/* Author styles */
.wpp-author {
}

/* Post date styles */
.wpp-date {
}

/* Post category styles */
.wpp-category {
}

/* WP-PostRatings styles */
.wpp-rating {
}




